2022Q3-deduplicated.csv
2022Q2-deduplicated.csv
2022Q1-deduplicated.csv
2022_filtered_city_and_house_type_and_sale_condition.csv
2022Q3-raw.csv
test.csv
2022_Rental_data.csv
2022_Rental_data_Taipe_and_New_Taipei.csv
upper_outliers.csv
data_with_in_upper_and_lower_bondary.csv